In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

dataset = pd.read_csv("C:/Users/STUDENT/Desktop/penguins.csv")
dataset.replace('NA', np.nan, inplace = True)
dataset.replace(' ', np.nan, inplace = True)
dataset.dropna( inplace = True, how = 'any')
dataset = dataset[dataset.sex != '.']
#df = df[df.column_name != value]
#Y to class to predict
X = dataset[ ["body_mass_g", "flipper_length_mm", "culmen_length_mm"] ].loc[ dataset["species"] == "Gentoo"]
#df = dataset.loc[ dataset["species"] == "Gentoo" ]
#X = dataset[["body_mass_g", "flipper_length_mm"]]
y = dataset["sex"].loc[ dataset["species"] == "Gentoo" ]

In [2]:

display(dataset)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [73]:

dataset.value_counts()

species  island     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g  sex
Adelie   Biscoe     34.5              18.1             187.0              2900.0       FEMALE    1
Gentoo   Biscoe     44.0              13.6             208.0              4350.0       FEMALE    1
                    43.6              13.9             217.0              4900.0       FEMALE    1
                    43.5              15.2             213.0              4650.0       FEMALE    1
                                      14.2             220.0              4700.0       FEMALE    1
                                                                                                ..
Adelie   Torgersen  36.6              17.8             185.0              3700.0       FEMALE    1
                    36.2              17.2             187.0              3150.0       FEMALE    1
                                      16.1             187.0              3550.0       FEMALE    1
                    35.9              16.6             190.0              3050.0       FEMALE    1
Gentoo   Biscoe     59.6              17.0             230.0              6050.0       MALE      1
Length: 333, dtype: int64

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.8, random_state = 0)

In [75]:
gaus = GaussianNB()
gaus.fit(X_train, y_train)

GaussianNB()

In [76]:
y.value_counts()

MALE      61
FEMALE    58
Name: sex, dtype: int64

In [77]:
y_pred = gaus.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      FEMALE       0.88      0.90      0.89        48
        MALE       0.89      0.88      0.88        48

    accuracy                           0.89        96
   macro avg       0.89      0.89      0.89        96
weighted avg       0.89      0.89      0.89        96